/*********/
/* FONTS */
/*********/
@font-face {
	font-family: 'eenfont';
	src: url('../fonts/eenfont.woff2') format('woff2'),
			 url('../fonts/eenfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}


/**************/
/* CSS REMEDY */
/**************/

*,
*::after,
*::before {
    box-sizing: border-box;
    /* backup font*/
    font-family: 'Annie Use Your Telescope', 'eenfont', sans-serif;
    font-family: 'Montserrat';

    padding: 0;
    margin: 0;
}

button:not(:disabled), summary {
	cursor: pointer;
}


/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	/* startje */
	--color-text:#111;
	--color-background:#eee;
	--violet: #480355;
	--medium-blue: #0E103D;
	--periwinkle: #D4CDF4;
	--yellow: #EDAE49;
	--light-yellow: #FFFBDB;
}


/* DARK THEME */
@media (prefers-color-scheme: dark) {
    :root {
        /* colors */
       	--color-text:#eee;
		--color-background:#111;
    }
}

/* BODY, MAIN */
body {
	/* color */
  	color: var(--color-text);
  	background-color: var(--color-background);
	/* text */
	font-family: eenfont, sans-serif;
}

/* H1, H2, P ... */
h1 {
	/* text */
	text-align: center;
}

p {
	/* text */
	text-align: center;
}


/* IMAGES */
img {
	width: 4em;
}

.like {
	width: 2em;
}

/* LIST */
ul {
	/* display */
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	gap: 1em;
}

li {
	/* display */
	display: grid;
	grid-template-rows: 2em 2em;
   	grid-template-columns: 2em 4em 15em 2em .2em;
	grid-column-gap: 1em;
	grid-row-gap: 0;

	/* sizes */
	height: 100%;

	/* color */
	background: var(--violet) repeating-linear-gradient( transparent 0, transparent 0.75px, var(--medium-blue) 2px, var(--medium-blue) 4px, transparent 4px, transparent 6.5px ) .4em center / 1em calc(100% - 2em) no-repeat;

	/* border */
	border-radius: 1em;
}

/* cover */
ul li img {
	/* display */
	grid-row-start: 1;
	grid-column-start: 2;

	grid-row-end: 3;
	grid-column-end: 3;
}
  
/* name */
ul li h2 {
	/* display */
	grid-row-start: 1;
	grid-column-start: 3;

	grid-row-end: 2;
	grid-column-end: 4;
}

/* artist */
ul li h3 {
	/* display */
	grid-row-start: 2;
	grid-column-start: 3;

	grid-row-end: 3;
	grid-column-end: 4; 
}

/* like */
ul li img.like {
	/* display */
	grid-row-start: 1;
	grid-column-start: 4;

	grid-row-end: 3;
	grid-column-end: 5;

   	grid-row: 1 / span 2;
  	align-self: center;

}


