/*********/
/* FONTS */
/*********/
@font-face {
	font-family: 'eenfont';
	src: url('../fonts/eenfont.woff2') format('woff2'),
			 url('../fonts/eenfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}


/**************/
/* CSS REMEDY */
/**************/

*,
*::after,
*::before {
    box-sizing: border-box;
    /* backup font*/
    font-family: 'Annie Use Your Telescope', 'eenfont', sans-serif;
    font-family: 'Montserrat';

    padding: 0;
    margin: 0;
}

button:not(:disabled), summary {
	cursor: pointer;
}


/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	/* startje */
	--color-text:#eee;
	--color-background: var(--light-pink);
	--light-pink: #f2d7ee;
	--pink: #a5668b;
	--violet: #69306D;
	--medium-blue: #0E103D;
	--yellow: #f7ea5a;
}

/* @MEDIA */
/* Dark Theme */
@media (prefers-color-scheme: dark) {
    :root {
        /* colors */
       	--color-text:#eee;
		--color-background:var(--medium-blue);
		--light-pink: #f2d7ee;
		--pink: #69306D;
		--violet: #a5668b;
		--medium-blue: #0E103D;
    }
}

/* No animation */
@media (prefers-reduced-motion: reduce) {
	body {
	  animation: none;
	}
}

/* BODY, MAIN */
body {
	/* color */
  	color: var(--color-text);
  	background-color: var(--color-background);
	/* text */
	font-family: eenfont, sans-serif;
}

main {
	/* display */
	justify-self:center;
	overflow:scroll;

	/* sizes */
	width:100%;
	margin-top: 15em;
	margin-bottom: 8em;
}

nav {
	/* position */
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 8888;

	/* color */
	background-color: var(--medium-blue);
}

/* H1, H2, P ... */
h1 {
	/* sizes */
	margin: .5em;

	/* text */
	text-align: center;

	/* color */
	color: var(--color-text);
}

p {
	/* text */
	text-align: center;
}

/* LINKS */
a {
	/* display */
	display: block;

	/* sizes */
	width: 30%;
	height: auto;
	margin: 1em;
	margin-left: auto;
    margin-right: auto;
	padding: .5em;

	/* text */
	font-family: 'Montserrat', sans-serif;
	font-family: 'Sigmar', cursive;

	text-decoration: none;
	text-align: center;

	/* color */
	background-color: var(--light-pink);
	color: var(--medium-blue);

	/* border */
	border-radius: .5em;
}

/* IMAGES */
img {
	/* sizes */
	width: 4em;
}

.like {
	/* sizes */
	width: 2em;
}

/* LIST */
ul {
	/* display */
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 1em;

	/* sizes */
	width: 100%;
}

li {
	/* display */
	display: grid;
	grid-template-rows: 1fr 1fr;
   	grid-template-columns: 2fr 4fr 17fr 2fr 0fr;
	grid-column-gap: 1em;
	grid-row-gap: 0;

	cursor: grab;

	/* sizes */
	height: 100%;

	/* color */
	background: var(--violet) repeating-linear-gradient( transparent 0, transparent 0.75px, var(--medium-blue) 2px, var(--medium-blue) 4px, transparent 4px, transparent 6.5px ) .4em center / 1em calc(100% - 2em) no-repeat;

	/* border */
	border-radius: 1em;
}

ul li:active {
	cursor: grabbing;
}

/* cover */
ul li img {
	/* display */
	grid-row-start: 1;
	grid-column-start: 2;

	grid-row-end: 3;
	grid-column-end: 3;

	align-self: center;

}
  
/* name */
ul li h2 {
	/* display */
	grid-row-start: 1;
	grid-column-start: 3;

	grid-row-end: 2;
	grid-column-end: 4;
}

/* artist */
ul li h3 {
	/* display */
	grid-row-start: 2;
	grid-column-start: 3;

	grid-row-end: 3;
	grid-column-end: 4; 
}

/* LIKE HEART */
.like {
	/* display */
	grid-row-start: 1;
	grid-column-start: 4;

	grid-row-end: 3;
	grid-column-end: 5;

   	grid-row: 1 / span 2;
  	align-self: center;

	cursor: pointer;
}

.like:hover {
	filter: contrast(200%);
	filter: drop-shadow(6px 6px 8px rgb(68, 5, 116)) invert(0%);
}

.like.liked {
  	filter: grayscale(0);
}

.like.liked:hover {
	animation: heartbeat 1.3s infinite;
}

.like.liked[src="images/heart.png"] {
  	content: url('images/heart-filled.png');
}

/* DRAG AND DROP */
#likedSongsList {
    list-style-type: none;
	margin-top: 3em;
}

.sortableSongs,
.sortableDrag,
.sortableDrag:focus {
   background-color: var(--pink);
}

li.sortableSongs {
  opacity: .25;
}

/* SORTING */
#sortingOptions {
	/* display */
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	gap: 1em;
	justify-content: center;
	align-items: center;

	/* sizes */
	padding: 1em;
	padding-top: 0;
}

/* BUTTONS */
#sortingOptions button {
	/* sizes */
	padding: .2em;

	/* color */
	background-color: var(--medium-blue);
	color: var(--color-text);

	/* text */
	font-family: 'Annie Use Your Telescope', 'eenfont', sans-serif;
    font-family: 'Montserrat';

	
	/* border */
	border-radius: .6em;
	border-color: var(--violet);
}

#sortingOptions button:hover {
	/* color */
	background-color: var(--pink);
}

#sortingOptions button:active {
	/* color */
	background-color: var(--violet);
}
#sortingOptions button:focus {
	/* color */
	background-color: var(--yellow);
	color: var(--medium-blue);
}

/* SEARCH */
.search-container {
	/* display */
	display: flex;
	justify-content: center;
	align-items: center;

	/* sizes */
	margin-bottom: 1em;
}

#searchInput {
	/* sizes */
	height: 2em;
	width: 50%;
	max-width: 25em;

	/* color */
	background-color: var(--light-pink);

	/* border */
	border-radius: .5em;

}

/* serach button */
button {
	/* sizes */
	padding: .2em;

	/* color */
	background-color: var(--pink);
	color: var(--color-text);

	/* text */
	font-family: 'Annie Use Your Telescope', 'eenfont', sans-serif;
    font-family: 'Montserrat';

	
	/* border */
	border-radius: .6em;
	border-color: var(--violet);
}

button:hover {
	/* color */
	background-color: var(--light-pink);
	color: var(--medium-blue);
}

button:active {
	/* color */
	background-color: var(--violet);
}

button:focus {
	/* color */
	background-color: var(--yellow);
	color: var(--medium-blue);
}


/* LOADING */
.loading-spinner {
	/* position */
	position: fixed;
	top: 0;
	left: 0;
	z-index: 9999;


	/* display */
	display: flex;
	justify-content: flex-end;
	align-items: center;

	/* sizes */
	width: 125%;
	height: 100%;
	
	/* color */
	background-color: var(--light-pink);
}

.spinner {
	/* sizes */
	width: 40em;
	height: 40em;

	/* animation */
	animation: spin 1s linear infinite;
}

.loading-spinner h1 {
	/* sizes */
	margin: 3em;

	/* color */
	color: var(--violet);

	/* text */
	font-family: 'Montserrat', 'eenfont', sans-serif;
	font-family: 'Sigmar', cursive;
}


/* RESPOSIVENESS */
@media (max-width: 30em) {
	body {
		/* sizes */
		width: 100vw;
    	height: 100vh;
	}
}


/* KEYFRAMES */
/* https://www.youtube.com/watch?v=WjPlY97cMWk */
@keyframes heartbeat {
  0% {
    transform: scale(1);
  }
  15% {
    transform: scale(1.3);
  }
  30% {
    transform: scale(1);
  }
  45% {
    transform: scale(1.3);
  }
  70% {
    transform: scale(1);
  }
}

@keyframes spin {
	0% {
	transform: rotate(0deg);
	}
	100% {
	transform: rotate(360deg);
	}
}



