/* CSS Document */

/*********/
/* FONTS */
/*********/
@font-face {
	font-family: 'eenfont';
	src: url('../fonts/eenfont.woff2') format('woff2'),
			 url('../fonts/eenfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;

}





/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
  box-sizing: border-box;  
}

button:not(:disabled), summary {
	cursor: pointer;
}





/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	/* color */
	--color-black: #111;
	--color-white: #eee;
	--color-f: #F24E1E;
	--color-i: #FF7262;
	--color-g: #A259FF;
	--color-m: #1ABCFE;
	--color-a: #0ACF83;

	--color-f-shadow: #c03b13;
	--color-i-shadow: #c45548;
	--color-g-shadow: #6637a2;
	--color-m-shadow: #12749b;
	--color-a-shadow: #098858;

	--color-f-deepte: #541907;
	--color-i-deepte: #6b1309;
	--color-g-deepte: #311a4f;
	--color-m-deepte: #0b3e52;
	--color-a-deepte: #05432b;



	/* sizes */
	--width-letter: 4em;
	--height-letter: 4em;
	--border-radius-size: 2em;

	

}


/*********/
/* MEDIA */
/*********/

@media (prefers-reduced-motion: reduce) {
	body {
	  animation: none;
	}
  }



/****************/
/* JOUW STYLING */
/****************/
* {
	margin: 0;
	padding: 0;
}

body {
	font-family: eenfont, sans-serif;
	
	/* display */
	display: flex;
 	justify-content: center;
 	align-items: center;

	/* color */
 	color: var(--color-text);
 	background-color: var(--color-background);

	/* sizes */
 	width: 100%;
	height: 100vh;
	font-size: 2vmin;
}

/* jouw code */

h1 {
	/* display */
  	display: flex;
  	flex-wrap: wrap;

	/* sizes */
	width: 8em;
  	height: 12em;
}

span {
	width: 	var(--width-letter);
  	height: var(--height-letter);
}

/* CODE FOR "F" */

span:nth-of-type(1) {
	position: relative;

	/* shape */
	border-top-left-radius: var(--border-radius-size);
  	border-bottom-left-radius: var(--border-radius-size);

	/* color */
	color: transparent;
	background-color: var(--color-f);

	
	/* ??? */
	/* SHADOW NASIL OLACAK */
	/* ??? */


	/* sizes */
	width: 	var(--width-letter);
  	height: var(--height-letter);

}

span:nth-of-type(1)::after {
	position: absolute;
	inset: 0;
	/* shape */
	border-top-left-radius: var(--border-radius-size);
  	border-bottom-left-radius: var(--border-radius-size);

	content: '';
	background-color: var(--color-f-shadow);
	box-shadow: inset 0.25em 0.2em 0.15em var(--color-f-deepte);

}

/* body {
	
	animation-name: princess;
  	animation-duration: 3s;
  	animation-iteration-count: infinite;
}

@keyframes princess {
  0% {
    transform: translateY(0);
    animation-timing-function: ease-out;
  }
  50% {
    transform: translateY(-100%);
    animation-timing-function: ease-in;
  }
  100% {
    transform: translateY(0);
  }
} */


/* CODE FOR "I" */

span:nth-of-type(2) {
	/* position */
	position: relative;
	

	/* shape */
	border-top-right-radius: var(--border-radius-size);
  	border-bottom-right-radius: var(--border-radius-size);

	/* color */
	color: transparent;	
	background-color: var(--color-i-shadow);
	box-shadow: inset 0.25em 0.2em 0.15em var(--color-i-deepte);

	/* sizes */
	width: 	var(--width-letter);
  	height: var(--height-letter);



}

span:nth-of-type(2)::after {
	/* position */
	position: absolute;
	bottom: 5em;
	left: 8em;

	/* shape */
	border-top-right-radius: var(--border-radius-size);
  	border-bottom-right-radius: var(--border-radius-size);

	content: '';

	/* color */
	background-color: var(--color-i);

	/* sizes */
	width: var(--width-letter);	
	height: var(--height-letter);


}

/* CODE FOR "G" */

span:nth-of-type(3) {
	position: relative;

	/* shape */
	border-top-left-radius: var(--border-radius-size);
	border-bottom-left-radius: var(--border-radius-size);
  
	/* color */
	background-color: var(--color-g);
	color: transparent;

	/* sizes */
	width: 	var(--width-letter);
  	height: var(--height-letter);

}

span:nth-of-type(3)::after {
	position: absolute;
	inset: 0;
	/* shape */
	border-top-left-radius: var(--border-radius-size);
  	border-bottom-left-radius: var(--border-radius-size);

	content: '';
	background-color: var(--color-g-shadow);
	box-shadow: inset 0.25em 0.2em 0.15em var(--color-g-deepte);

}

/* CODE FOR "M" */

span:nth-of-type(4) {
	position: relative;

	/* shape */
	border-radius: var(--border-radius-size);

	/* color */
	background-color: var(--color-m);
	color: transparent;

	/* sizes */
	width: 	var(--width-letter);
  	height: var(--height-letter);

}

span:nth-of-type(4)::after {
	position: absolute;
	inset: 0;
	/* shape */
		border-radius: var(--border-radius-size);

	content: '';
	background-color: var(--color-m-shadow);
	box-shadow: inset 0.25em 0.2em 0.15em var(--color-m-deepte);

}

/* CODE FOR "A" */

span:nth-of-type(5) {
	position: relative;
	/* shape */
	border-top-left-radius: var(--border-radius-size);
	border-bottom-left-radius: var(--border-radius-size);
	border-bottom-right-radius: var(--border-radius-size);

	/* color */
	background-color: var(--color-a);
	color: transparent;

	/* sizes */
	width: 	var(--width-letter);
  	height: var(--height-letter);

}


/* DE CONTENT MET SPATIE NIET MOGELIJK TE ZIEN */
span:nth-of-type(5)::after {
	position: absolute;
	inset: 0;
	/* shape */
	border-top-left-radius: var(--border-radius-size);
	border-bottom-left-radius: var(--border-radius-size);
	border-bottom-right-radius: var(--border-radius-size);

	content: '';
	background-color: var(--color-a-shadow);
	box-shadow: inset 0.25em 0.2em 0.15em var(--color-a-deepte);

}

